Repository leocavalcante/siler, pull requests merged in 2020-03, with the labels that each got.

#261 HTTP\2
  CHANGELOG.md
  psalm.xml.dist
  src/Swoole/Swoole.php
  src/facades.php
Labels: enhancement, swoole

#262 Reservs generics annotations for Psalm namespace
  bin/generate-facades.php
  src/Container/Container.php
  src/Encoder/Json.php
  src/File/File.php
  src/Functional/Functional.php
  src/Functional/Monad/Identity.php
  src/Functional/Monad/Maybe.php
  src/Functional/Monad/Monad.php
  src/GraphQL/BuildSchema.php
  src/GraphQL/GraphQL.php
  src/GraphQL/SubscriptionsConnection.php
  src/GraphQL/SubscriptionsManager.php
  src/Grpc/Parser.php
  src/Http/Http.php
  src/Http/Request.php
  src/Monolog/Monolog.php
  src/Prelude/Tuple.php
  src/Ratchet/GraphQLSubscriptionsConnection.php
  src/Ratchet/GraphQLSubscriptionsServer.php
  src/Result/Failure.php
  src/Result/Result.php
  src/Result/Success.php
  src/Route/Route.php
  src/Siler.php
  src/Swoole/GraphQLSubscriptionsConnection.php
  src/Swoole/Swoole.php
  src/facades.php
Labels: enhancement

#266 Fixed some typos
  docs/concepts-and-philosophy.md
Labels: docs, enhancement

#268 Enhancements for prelude functions
  CHANGELOG.md
  src/Siler.php
  tests/Unit/SilerTest.php
Labels: enhancement, prelude

#269 PHPUnit ^9.0
  CHANGELOG.md
  composer.json
  composer.lock
  src/Dotenv/Dotenv.php
  src/Siler.php
  tests/Unit/File/FileTest.php
Labels: enhancement, testing

#270 Better typing!
  composer.json
  composer.lock
  src/Dotenv/Dotenv.php
  src/Http/Http.php
  src/Http/Request.php
  tests/Unit/Dotenv/DotenvTest.php
  tests/Unit/Http/RequestTest.php
Labels: enhancement, types

#271 Add more functions for strings
  CHANGELOG.md
  src/Prelude/Str.php
  src/facades.php
  tests/Unit/Prelude/StrTest.php
Labels: enhancement, prelude

#272 Add Klass module with `unqualified_name` function
  CHANGELOG.md
  composer.json
  composer.lock
  src/Prelude/Klass.php
  src/facades.php
  tests/Unit/Prelude/Test.php
Labels: enhancement, prelude

#274 Add snake_case function
  CHANGELOG.md
  src/Prelude/Str.php
  tests/Unit/Prelude/StrTest.php
Labels: enhancement, prelude

#275 Add camel_case function
  CHANGELOG.md
  src/Prelude/Str.php
  src/facades.php
  tests/Unit/Prelude/StrTest.php
Labels: enhancement, prelude

#277 Fix missing GraphQL WS subprotocol
  CHANGELOG.md
  composer.lock
  src/GraphQL/GraphQL.php
Labels: bug, graphql

#279 Fix #278
  src/Http/Http.php
Labels: bug, routing

#280 GraphQL uploads
  CHANGELOG.md
  composer.json
  examples/graphql/index.php
  examples/graphql/resolvers.php
  examples/graphql/schema.graphql
  examples/graphql/uploads/.gitignore
  src/GraphQL/GraphQL.php
  src/GraphQL/Request.php
  src/Http/Http.php
  src/Http/Request.php
  src/Prelude/Arr.php
  src/Siler.php
  src/Swoole/Swoole.php
  src/facades.php
  tests/Unit/Http/RequestTest.php
  tests/Unit/Prelude/ArrTest.php
Labels: enhancement, graphql

#267 Custom directives
  CHANGELOG.md
  examples/graphql/README.md
  examples/graphql/directives.php
  examples/graphql/docker-compose.yml
  examples/graphql/filters.php
  examples/graphql/queries.graphql
  examples/graphql/resolvers.php
  examples/graphql/sapi.php
  examples/graphql/schema.graphql
  examples/graphql/schema.php
  examples/graphql/swoole.php
  src/GraphQL/BuildSchema.php
  src/GraphQL/GraphQL.php
  src/GraphQL/SubscriptionsManager.php
  src/facades.php
Labels: enhancement, graphql
