Repository leocavalcante/siler, pull requests merged in 2020-10, with the labels that each got.

#436 Adjusting Config factory to accept another parameters
  src/Config/Config.php
Labels: config, enhancement, hacktoberfest

#440 Docs: Adding CONTRIBUTING.md
  CONTRIBUTING.md
Labels: docs, enhancement, hacktoberfest-accepted

#449 Added lazy injection feature to Container module
  src/Container/Container.php
  tests/Unit/Container/ContainerTest.php
Labels: container, enhancement

#451 sugar for GraphQL validation rules
  src/GraphQL/GraphQL.php
  tests/Unit/GraphQL/GraphQLTest.php
Labels: enhancement, graphql

#457 sugar for yaml decoder
  src/Config/Config.php
Labels: config, enhancement

#462 Add reusable container
  src/Container/Container.php
Labels: container, enhancement

#467 Increase code coverage
  composer.json
  composer.lock
  src/Config/Config.php
  src/Prelude/Collection.php
  src/Prelude/Prelude.php
  src/facades.php
  tests/Integration/Prelude/CollectionTest.php
  tests/Unit/Config/ConfigTest.php
  tests/Unit/Container/ContainerTest.php
  tests/Unit/Monolog/MonologTest.php
  tests/fixtures/config/yaml/test.yml
Labels: coverage, enhancement, hacktoberfest-accepted

#468 Update concepts-and-philosophy.md
  docs/concepts-and-philosophy.md
Labels: docs, enhancement
