Repository leocavalcante/siler, pull requests merged in 2020-04, with the labels that each got.

#283 GraphQL Annotations
  CHANGELOG.md
  composer.json
  composer.lock
  examples/graphql-annotations/.gitignore
  examples/graphql-annotations/composer.json
  examples/graphql-annotations/index.php
  examples/graphql-annotations/src/Bar.php
  examples/graphql-annotations/src/Foo.php
  examples/graphql-annotations/src/FooBar.php
  examples/graphql-annotations/src/ITodo.php
  examples/graphql-annotations/src/Mutation.php
  examples/graphql-annotations/src/Query.php
  examples/graphql-annotations/src/Todo.php
  examples/graphql-annotations/src/TodoStatus.php
  examples/graphql-annotations/src/TupleInput.php
  examples/graphql-annotations/src/Upper.php
  psalm.xml.dist
  src/GraphQL/Annotation/Args.php
  src/GraphQL/Annotation/Directive.php
  src/GraphQL/Annotation/EnumType.php
  src/GraphQL/Annotation/EnumVal.php
  src/GraphQL/Annotation/Field.php
  src/GraphQL/Annotation/InputType.php
  src/GraphQL/Annotation/InterfaceType.php
  src/GraphQL/Annotation/ObjectType.php
  src/GraphQL/Annotation/UnionType.php
  src/GraphQL/DateTimeScalar.php
  src/GraphQL/Deannotator.php
  src/GraphQL/GraphQL.php
  src/Prelude/Enum.php
  src/facades.php
  tests/Unit/GraphQL/Annotated/Bar.php
  tests/Unit/GraphQL/Annotated/Enum.php
  tests/Unit/GraphQL/Annotated/Foo.php
  tests/Unit/GraphQL/Annotated/FooBar.php
  tests/Unit/GraphQL/Annotated/IFoo.php
  tests/Unit/GraphQL/Annotated/Input.php
  tests/Unit/GraphQL/Annotated/Mutation.php
  tests/Unit/GraphQL/Annotated/MyDirective.php
  tests/Unit/GraphQL/Annotated/Query.php
  tests/Unit/GraphQL/AnnotatedTest.php
Labels: enhancement, graphql

#290 if connection init sets context it should be set anyway
  src/GraphQL/SubscriptionsManager.php
Labels: bug, graphql

#292 Fix for issue 291
  CHANGELOG.md
  src/Prelude/IO.php
Labels: enhancement, io

#293 Events!
  CHANGELOG.md
  composer.json
  composer.lock
  src/Prelude/Dispatcher.php
  tests/Unit/Prelude/DispatcherTest.php
  tests/fixtures/TestEvent.php
Labels: prelude, psr
